<section class="page">
    <div class="encabezado">
        <selectorHeader></selectorHeader>
    </div>
    <div class="navegador">
        <slider></slider>
    </div>
    <div>
        <ul>
            <li routerLinkActive="violet">
                <a routerLink="registro">Registro</a>
            </li>
        </ul>
    </div>
    <div class="contenido">
        <router-outlet></router-outlet>
    </div>
    <div class="pie">
        <selectorFooter></selectorFooter>
    </div>
</section>

<!-- La etiqueta <router-outlet> nos permite el manejo de la ruta especifica -->